.fields{
    padding-top: 1rem;
}

.errormessage{
    color: red;
}


.form-group{
    background-color: rgb(49, 98, 141);
    color: white;
    
}

h1{
    text-align: center;
    background-color: #2a2a2e ;
    color: white;
    margin-bottom: 0;
}

.exercice{
    text-align: center;
    background-color: #2a2a2e ;
    color: white;
}

.button{
    justify-content: center;
}